.add-btn{
    
    color: white;
    background-color: #0091d2;
    border-radius: 17px;
    width: 90%;
    margin-left: 12px;
    height: 26px;

}


.back-btn{
margin-top: 42px;
margin-right: 13px;
color: #0091d2;
font-size: 28px;
}