/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse:collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 

  }
  tr:hover{
      background-color: gray;
      color:white;
  }
  th { 
    background: #ff7400; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 8px; 
   // border: 1px solid #ccc; 
    text-align: left; 
    
  }
  /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 

only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .searchbar{
  
        box-shadow: 0 -1px 0px 0 #ff7400, 0 3px 1px -2px #ff7400, 0 1px 5px 0 #ff7400 !important;
    }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ff7400; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #ff7400; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
}







.back-btn{
	margin-top: 42px;
	margin-right: 13px;
	color: #0091d2;
	font-size: 28px;
	}
	
	/*
  were using Bootstrap and Font Awesome
  https://bootstrapcdn.com
*/

body { padding-top:50px; }
	

h3{
	font-size: 12px;
    margin-top: -10px;

}

i{
	color:black;
}
