.back{
    display: block;
    width: 100%;
    height: 250px;
}



.pic{
    border: 4px solid white;
    border-radius: 100%;
  
    height: 150px;

}

.editbtn{
	background-color: white !important;
    color: black;
    width: 37px;
    height: 42px;
    margin-left: -37px;
    margin-top: 4px;
 }

 .colm{
     background-color: #333;
 }

